
reproducibility/*.pdf
unsorted/*.pdf
.Rproj.user
.Rhistory
.DS_Store
*.RData
/doc/
/Meta/
*.html
draft/main.aux
draft/main.bbl
draft/main.blg
draft/main.log
draft/main.out
draft/main.synctex.gz
draft/scr.sh
tests/testthat/Rplots.pdf
Rplots.pdf
draft/main.pdf
